@using EDM_DB
@model Applications.QuanLyNhaCungCap.Dtos.GetList_NhaCungCap_Output_Dto

@{
    string tableName = "nhacungcap";
    var columns = new[] {
       "Stt", "Tên NCC", "Tên NCC cha", "Tên mặt hàng", "Số điện thoại", "Tài liệu", "Trường học"
    };

    bool themMoi = Model.ThaoTacs.Exists(x => x.MaThaoTac == "quanlynhacungcap-themmoi");
    bool capNhat = Model.ThaoTacs.Exists(x => x.MaThaoTac == "quanlynhacungcap-capnhat");
    bool xemChiTiet = Model.ThaoTacs.Exists(x => x.MaThaoTac == "quanlynhacungcap-xemchitiet");
    bool xoaBo = Model.ThaoTacs.Exists(x => x.MaThaoTac == "quanlynhacungcap-xoabo");
}

<div class="mb-2 toggle-vis-bar">
    Hiển thị:
    @Public.Helpers.HtmlHelper.RenderToggleLinks($"{tableName}-getList", columns)
</div>
<table class="table table-hover table-bordered table-sticky w-100" id="@tableName-getList" data-page-length="10">
    <thead class="nowrap" style="white-space: nowrap !important">
        <tr>
            <th class="text-center" data-orderable="false"></th>

            @foreach (var c in columns) {
                <th class="text-center">@c</th>
            }

            <th class="text-center w-5" intro-container="dulieu-tacvu" data-orderable="false">
                <div style="white-space: nowrap">
                    <div class="btn-group btn-group-sm dropstart">
                        <button type="button" title="Thao tác" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                data-reference="parent">
                            <i class="bi bi-gear-fill"></i>
                        </button>
                        <div class="dropdown-menu me-2" style="border: 1px solid black;">
                            @{
                                if (themMoi) {
                                    <a class="dropdown-item c-pointer"
                                       onclick="quanLyNhaCungCap.nhaCungCap.displayModal_CRUD('create')">
                                        <i class="bi bi-plus-circle-fill"></i> Thêm mới
                                    </a>
                                }
                                if (xoaBo) {
                                    <a class="dropdown-item c-pointer"
                                       onclick="quanLyNhaCungCap.nhaCungCap.delete('multiple')">
                                        <i class="bi bi-trash3-fill"></i> Xóa bỏ
                                    </a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
    <tfoot class="show-footer-above">
        <tr>
            <th class="text-center"><input class="form-check-input checkAll-@tableName-getList" type="checkbox" title="Chọn tất cả" /></th>

            @foreach (var c in columns) {
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
            }

            <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." disabled /></th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var nhaCungCap in Model.NhaCungCaps) {
            <tr id="@nhaCungCap.NhaCungCap.IdNhaCungCap">
                <td class="text-center"><input class="form-check-input checkRow-@tableName-getList" type="checkbox" /></td>

                <td class="text-left c-pointer"
                    onclick="sys.copyTextFromElement(this)"
                    title="Click để sao chép"
                    data-copy="@nhaCungCap.NhaCungCap.Stt.ToString()">
                    <a href="#">
                        <i class="bi bi-copy"></i> @Public.Handles.Handle.TruncateString(maxLength: 10, input: nhaCungCap.NhaCungCap.Stt.ToString())
                    </a>
                </td>
                <td class="text-left">
                    @if (xemChiTiet) {
                        <a class="c-pointer"
                           href="/QuanLyNhaCungCap/xemChiTiet_NhaCungCap?idNhaCungCap=@nhaCungCap.NhaCungCap.IdNhaCungCap">
                            @nhaCungCap.NhaCungCap.TenNhaCungCap
                        </a>
                    }
                    else {
                        @nhaCungCap.NhaCungCap.TenNhaCungCap
                    }
                </td>
                <td class="text-left">@(nhaCungCap.NhaCungCapCha == null ? "" : nhaCungCap.NhaCungCapCha.TenNhaCungCap)</td>
                <td class="text-left">@nhaCungCap.NhaCungCap.TenMatHang</td>
                <td class="text-left">@nhaCungCap.NhaCungCap.SoDienThoai</td>
                <td class="text-left">@nhaCungCap.SoLuongTaiLieu</td>
                <td class="text-left">@nhaCungCap.SoLuongTruongHoc</td>

                <td class="text-center">
                    <div style="white-space: nowrap">
                        <div class="btn-group btn-group-sm dropstart">
                            <button type="button" title="Thao tác" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    data-reference="parent">
                                <i class="bi bi-gear-fill"></i>
                            </button>
                            <div class="dropdown-menu me-2" style="border: 1px solid black;">
                                @{
                                    if (capNhat) {
                                        <a class="dropdown-item c-pointer"
                                           onclick="quanLyNhaCungCap.nhaCungCap.displayModal_CRUD('update', '@nhaCungCap.NhaCungCap.IdNhaCungCap')">
                                            <i class="bi bi-eye"></i> Cập nhật
                                        </a>
                                    }
                                    if (xemChiTiet) {
                                        <a class="dropdown-item c-pointer"
                                           href="/QuanLyTaiLieu/Index?idNhaCungCap=@nhaCungCap.NhaCungCap.IdNhaCungCap">
                                            <i class="bi bi-eye"></i> Xem chi tiết
                                        </a>
                                    }
                                    if (xoaBo) {
                                        <a class="dropdown-item c-pointer"
                                           onclick="quanLyNhaCungCap.nhaCungCap.delete('single', '@nhaCungCap.NhaCungCap.IdNhaCungCap')">
                                            <i class="bi bi-trash3-fill"></i> Xóa bỏ
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>