@using Public.Enums
@using Public.Helpers
@model Applications.QuanLyTaiLieu.Dtos.Index_Output_Dto
@{
    var trangThaiBaoQuans = Enum.GetValues(typeof(TrangThaiBaoQuanEnum))
                  .Cast<TrangThaiBaoQuanEnum>()
                  .Select(e => new SelectListItem {
                      Value = e.ToString(),
                      Text = Public.Helpers.EnumHelper.GetDisplayName(e),
                  })
                  .ToList();
}

<div class="row">
    <!--Nhà cung cấp-->
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="" for="select-nhacungcap">Nhà cung cấp</label>
                <select class="form-control" id="select-nhacungcap" name="select-nhacungcap">
                    <option disabled @(Model.NhaCungCaps.Count > 0 ? "" : "selected")>Chọn thông tin</option>
                    @foreach (var nhaCungCap in Model.NhaCungCaps) {
                        <option value="@nhaCungCap.IdNhaCungCap"
                                @(Model.IdNhaCungCap == nhaCungCap.IdNhaCungCap ? "selected" : "")>
                            @nhaCungCap.TenNhaCungCap
                        </option>
                    }
                </select>
            </div>
        </div>
    </div>

    <!--Tên tài liệu-->
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="" for="input-tentailieu">Tên tài liệu</label>
                <input type="text"
                       class="form-control" id="input-tentailieu"
                       placeholder="Nhập thông tin ...">
            </div>
        </div>
    </div>

    <!--Trạng thái bảo quản-->
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="" for="select-trangthaibaoquan">Trạng thái bảo quản</label>
                <select class="form-control" id="select-trangthaibaoquan" name="select-trangthaibaoquan">
                    <option disabled @(trangThaiBaoQuans.Count > 0 ? "" : "selected")>Chọn thông tin</option>
                    @foreach (var trangThaiBaoQuan in trangThaiBaoQuans) {
                        <option value="@trangThaiBaoQuan.Value">
                            @trangThaiBaoQuan.Text
                        </option>
                    }
                </select>
            </div>
        </div>
    </div>

    <!--Ngày đăng ký-->
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="" for="input-ngaydangky">Ngày đăng ký</label>
                <input type="date"
                       class="form-control" id="input-ngaydangky">
            </div>
        </div>
    </div>

    <!--Ngày hết hạn-->
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="" for="input-ngayhethan">Ngày hết hạn</label>
                <input type="date"
                       class="form-control" id="input-ngayhethan">
            </div>
        </div>
    </div>


    <!--Ghi chú-->
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label for="input-ghichu">Ghi chú</label>
                <textarea class="form-control min-h-50 max-h-100" id="input-ghichu" rows="2"
                          placeholder="Nhập thông tin ..."></textarea>
            </div>
        </div>
    </div>

    <div class="col-12 py-2 text-center">
        <button type="button" class="btn btn-sm btn-primary ml-1 button-timkiem"
                onclick="quanLyTaiLieu.taiLieu.getList()">
            <span class="">Tìm kiếm</span>
        </button>
    </div>
</div>