@using EDM_DB
@using Public.Enums
@using Public.Helpers
@model Applications.QuanLyBenhNhan.Dtos.ShowTab_ThongTinCoBan_Output_Dto
@{
    var benhNhan = Model.BenhNhan.BenhNhan;

    bool capNhat = Model.ThaoTacs.Exists(x => x.MaThaoTac == "quanlybenhnhan-capnhat");

    var selectedGioiTinh = benhNhan.GioiTinh == true ? 1 : 0;
    var gioiTinhs = Enum.GetValues(typeof(GioiTinhEnum))
                      .Cast<GioiTinhEnum>()
                      .Select(e => new SelectListItem
                      {
                          Value = e.ToString(),
                          Text = Public.Helpers.EnumHelper.GetDisplayName(e),
                          Selected = selectedGioiTinh.ToString() == e.ToString()
                      })
                      .ToList();
}

<div class="row" id="tab-thongtincoban" intro-container="thongtin-chung">
    <!--Id-->
    <input id="input-idbenhnhan" value="@benhNhan.IdBenhNhan" hidden />

    <!--Họ tên-->
    <div class="col-12 col-sm-12 col-md-6">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="required" for="input-hoten">Họ tên</label>
                <input type="text"
                       class="form-control" id="input-hoten"
                       placeholder="Nhập thông tin ..."
                       value="@(benhNhan.HoTen ?? "")"
                       required>
                <div class="invalid-feedback feedback" for="input-hoten">Không được để trống</div>
            </div>
        </div>
    </div>

    <!--Giới tính-->
    <div class="col-12 col-sm-12 col-md-6">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="required" for="input-gioitinh">Giới tính</label>
                <select class="form-control" id="input-gioitinh" name="input-gioitinh"
                        required>
                    <option disabled @(gioiTinhs.Count > 0 ? "" : "selected")>Chọn thông tin</option>
                    @foreach (var gioiTinh in gioiTinhs)
                    {
                        <option value="@gioiTinh.Value" @(gioiTinh.Selected ? "selected" : "")>
                            @gioiTinh.Text
                        </option>
                    }
                </select>
                <div class="invalid-feedback feedback" for="input-gioitinh">Không được để trống</div>
            </div>
        </div>
    </div>

    <!--Ngày sinh-->
    <div class="col-12 col-sm-12 col-md-6">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="required" for="input-ngaysinh">Ngày sinh</label>
                <input type="date"
                       class="form-control" id="input-ngaysinh"
                       placeholder="Nhập thông tin ..."
                       value="@(Public.Helpers.DateHelper.DateToString(date: benhNhan.NgaySinh, format: "yyyy-MM-dd") ?? "")"
                       required>
                <div class="invalid-feedback feedback" for="input-ngaysinh">Không được để trống</div>
            </div>
        </div>
    </div>

    <!--Số điện thoại-->
    <div class="col-sm-12 col-md-6">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="required" for="input-sodienthoai">Số điện thoại</label>
                <input type="tel"
                       class="form-control" id="input-sodienthoai"
                       placeholder="Nhập thông tin ..."
                       value="@(benhNhan.SoDienThoai ?? "")"
                       required>
                <div class="invalid-feedback feedback" for="input-sodienthoai">Không được để trống</div>
            </div>
        </div>
    </div>

    <!--Email-->
    <div class="col-sm-12 col-md-6">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="" for="input-email">Email</label>
                <input type="email"
                       class="form-control" id="input-email"
                       placeholder="Nhập thông tin ..."
                       value="@(benhNhan.Email ?? "")">
                <div class="invalid-feedback feedback" for="input-email">Không được để trống</div>
            </div>
        </div>
    </div>

    <!--CCCD-->
    <div class="col-sm-12 col-md-6">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="" for="input-cccd">CCCD</label>
                <input type="number"
                       class="form-control" id="input-cccd"
                       placeholder="Nhập thông tin ..."
                       value="@(benhNhan.CCCD ?? "")">
                <div class="invalid-feedback feedback" for="input-cccd">Không được để trống</div>
            </div>
        </div>
    </div>

    <!--Nghề nghiệp-->
    <div class="col-sm-12 col-md-6">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="" for="input-nghenghiep">Nghề nghiệp</label>
                <input type="text"
                       class="form-control" id="input-nghenghiep"
                       placeholder="Nhập thông tin ..."
                       value="@(benhNhan.NgheNghiep ?? "")">
                <div class="invalid-feedback feedback" for="input-nghenghiep">Không được để trống</div>
            </div>
        </div>
    </div>

    <!--Địa chỉ-->
    <div class="col-sm-12 col-md-6">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="" for="input-diachi">Địa chỉ</label>
                <input type="text"
                       class="form-control" id="input-diachi"
                       placeholder="Nhập thông tin ..."
                       value="@(benhNhan.DiaChi ?? "")">
                <div class="invalid-feedback feedback" for="input-diachi">Không được để trống</div>
            </div>
        </div>
    </div>

    <!--Tiền sử bệnh-->
    <div class="col-12 col-sm-12 col-md-12">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label for="input-tiensubenh">Tiền sử bệnh</label>
                <textarea class="form-control min-h-50 max-h-100" id="input-tiensubenh" rows="2"
                          placeholder="Nhập thông tin ..."
                          value="@(benhNhan.GhiChu ?? "")">@(benhNhan.GhiChu ?? "")</textarea>
            </div>
        </div>
    </div>

    <!--Ghi chú-->
    <div class="col-12 col-sm-12 col-md-12">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label for="input-ghichu">Ghi chú</label>
                <textarea class="form-control min-h-50 max-h-100" id="input-ghichu" rows="2"
                          placeholder="Nhập thông tin ..."
                          value="@(benhNhan.GhiChu ?? "")">@(benhNhan.GhiChu ?? "")</textarea>
            </div>
        </div>
    </div>

    @if (capNhat)
    {
        <div class="col-12 py-2 text-center">
            <button type="button" class="btn btn-sm btn-primary ml-1 button-timkiem"
                    onclick="quanLyBenhNhan.benhNhan.update()">
                <span class="">Cập nhật</span>
            </button>
        </div>
    }
</div>